<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.samuel.expensemanager"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >


    <!-- 授予应用程序访问系统开机事件的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->
    <!--<uses-permission android:name="android.permission.READ_PROFILE"/>-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS"/>-->

    <!-- SHARESDK -->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->
    <!-- 蓝牙分享所需的权限 -->
    <!--<uses-permission android:name="android.permission.BLUETOOTH"/>-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->

    <!-- qq登陆所需 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->


    <application
        android:name=".ExpenseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddRecordActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.SumActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.TypeInfoActivity"
            android:parentActivityName=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.typeinfo"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.SettingActivity"/>
        </activity>
        <activity
            android:name=".activity.ExchangeRateActivity"
            android:parentActivityName=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.exchangerate"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.SettingActivity"/>
        </activity>
        <activity
            android:name=".activity.ReminderActivity"
            android:parentActivityName=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.reminder"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.SettingActivity"/>
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:parentActivityName=".activity.SettingActivity">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.account"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.SettingActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.SettingActivity">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.about"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.SettingActivity"/>
        </activity>
        <activity
            android:name=".activity.AddTypeInfoActivity"
            android:parentActivityName=".activity.TypeInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.TypeInfoActivity"/>
        </activity>
        <activity
            android:name=".activity.SelectColorActivity"
            android:parentActivityName=".activity.AddTypeInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.samuel.expensemanager.activity.AddTypeInfoActivity"/>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_regist"
            android:parentActivityName=".activity.LoginActivity"/>
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_userinfo"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.ChangePWordActivity"
            android:label="@string/title_activity_changepwd"
            android:parentActivityName=".activity.UserActivity"/>


        <!-- qq登录所需 -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent222222"/>
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.PasswordSettingActivity"
            android:parentActivityName=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.password"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChooseActivity"
            android:label="@string/title_activity_choose"
            android:parentActivityName=".activity.ExchangeRateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.samuel.expensemanager.chooseactivity"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PassInputActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <!-- 定义一个BroadcastReceiver，监听系统开机广播 -->
        <receiver
            android:name=".receiver.TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="MainActivity.openReminder.repeat"/>
                <!-- 自定义广播，在活动被销毁时，启动服务 -->
                <action android:name="com.example.barry.clockdemo.MainActivity.onDestroy"/>

                <data android:scheme="file"></data>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.TimeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.example.barry.clockdemo.TimeService.onDestroy"/>
                <!-- 自定义广播 -->
            </intent-filter>
        </service>
    </application>

</manifest>
